{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}

{% block content %}

<p id="message">
  {{ content_data.message }}
</p>

<p>
  <a href="/index.php?path=user/signuppage">Зарегистрироваться</a>
</p>

<form action="/index.php?path=user/login" method="post">
  
  <p>Введите свой логин:</p>
  <p><input type="text" name="login" value="" required/></p>
  <p>Введите свой пароль:</p>
  <p><input type="password" name="password" value="" required/></p>
  <p><input id="auth" type="submit" name="auth" value="Войти"/></p>

</form>

{% endblock %}


