{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}

{{ content_data.message }}

<form method="post">
  <fieldset>
    <legend>Данные для регистрации</legend>
    <p>Введите свой логин:</p>
    <p><input type="text" name="login" value="{{ content_data.login }}" required/></p>
    <p>Введите свой пароль:</p>
    <p><input type="password" name="password" value="" required/></p>
    <p>Введите повторно свой пароль :</p>
    <p><input type="password" name="password2" value="" required/></p>
  </fieldset>
  
  <fieldset>
    <legend>Контактные данные</legend>
    
    <p>Ваше имя:</p>
    <p><input type="text" name="name" value="{{ content_data.name }}" required/></p>
    <p>Ваш E-mail для связи:</p>
    <p><input type="email" name="email" value="{{ content_data.email }}" required/></p>
    <p>Ваш телефон для связи:</p>
    <p><input type="tel" name="phone" value="{{ content_data.phone }}" required/></p>
  
  </fieldset>
  
  
  <p><input id="regist" type="submit" name="reg" value="Зарегистрироваться"/></p>
</form>
{% endblock %}

