{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}

{{ content_data.message }}

<form action="index.php?path=user/registration" method="post">
  <fieldset>
    <legend>Данные для регистрации</legend>
    <p>Введите свой логин:</p>
    <p><input type="text" name="login" value="" required/></p>
    <p>Введите свой пароль:</p>
    <p><input type="password" name="password" value="" required/></p>
  </fieldset>
  
  <fieldset>
    <legend>Контактные данные</legend>
    
    <p>Ваше имя:</p>
    <p><input type="text" name="name" value="" required/></p>
    <p>Ваш E-mail для связи:</p>
    <p><input type="email" name="email" value="" required/></p>
    <p>Ваш телефон для связи:</p>
    <p><input type="tel" name="phone" value="" required/></p>
  
  </fieldset>
  
  
  <p><input id="regist" type="submit" name="reg" value="Зарегистрироваться"/></p>
</form>
{% endblock %}

