{% extends "admin/index.html" %}

{% block admin_content %}

<div>
  
  <div>
    <form method="post" enctype="multipart/form-data">
      <label for="name">Название товара: </label>
      <input id="name" type="text" name="name"><br>
  
      <label for="price">Цена товара: </label>
      <input id="price" type="text" name="price"><br>
  
      <label for="category">Категория товара: </label>
      <input id="category" type="text" name="category"><br>
  
      <label for="description">Описание товара: </label>
      <textarea id="description" cols="20" rows="5" name="description"></textarea><br>
  
      <label for="status">Статус товара: </label>
      <input id="status" type="text" name="status"><br>
      
      <label for="image">Загрузите картинку 500x500px:</label>
      <input id="image" type="file" name="image" accept="image/jpeg,image/png,image/gif">
      
      <p>
        <input type="submit" name="add-new" value="Сохранить">
      </p>
    </form>
  </div>


</div>


{% endblock %}
