{% extends "admin/index.html" %}

{% block admin_content %}
{{ content_data.text }}


<table class="admin-table js-admin-goods-table" style='text-align:center;' border='1' width='100%'>
  <tr>
    <td><p>id</p></td>
    <td><p>Изображение</p></td>
    <td>Наименование</td>
    <td>Категория</td>
    <td>Цена</td>
    <td><p>Описание</p></td>
    <td>Название изображения</td>
  </tr>
  

  {% for product in admin_content.products %}
  <tr data-id="{{ product.id }}">
    
    <td>{{ product.id }}</td>
    <td><img src="{{ img_sm_path }}{{ product.img }}" class="admin-table__img" alt="{{ product.img }}"></td>
    <td>{{ product.name }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.img }}</td>
    <td><a href="/index.php?path=adminGoods/edit/{{ product.id }}">Редактировать</a></td>
    <td><button class="js-admin-product-delete" data-id="{{ product.id }}">Удалить</button></td>
  </tr>
  {% endfor %}
  
  
</table>


{% endblock %}


