{% extends "base.html" %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}

{% if content_data.products is not defined %}
{{content_data.message}}
{% else %}

<div class="goods">
  
  {% for product_item in content_data.products %}
  
  <ul>
    <li>{{ loop.index }} - {{ product_item.id }} - {{ product_item.name }}</li>
    <li>{{ product_item.price }}</li>
    <li>{{ product_item.description }}</li>
    <li><a href="/index.php?path=catalog/product/{{ product_item.id }}">
      {{ product_item.img }}
    </a>
    </li>
    <li>Категория: {{ product_item.category }}</li>
    <li>Статус: {{ product_item.status }}</li>
  </ul>
  
  {% if session.logged_user %}
  <button class="js-add-to-cart" data-id="{{ product_item.id }}" data-name="{{ product_item.name }}">В корзину</button>
  {% else %}
    <a href="/index.php?path=user/login/" class="" name="" >Авторизуйтесь</a>
  {% endif %}
<!--  <input type="button" value="Buy" class="js-add-to-cart" data-id="{{ product_item.id }}" data-name="{{ product_item.name }}">-->
  
<!--  <p>No products have been found.</p>-->
  {% endfor %}
  
</div>

{% endif %}

{% endblock %}
